<%- include("templates/header") %> 
<form action="/loggingIn" method="post">log in<br>
  <input type="email" id="email" name="email" placeholder="email"><br>
  <input type="password" id="password" name="password" placeholder="password"><br>
  <button type="submit">Submit</button>
</form>
<%- include("templates/footer") %>