<%- include("templates/header") %> 
<h1>Welcome, <%= name %>.</h1>
<img src="./<%= rng %>.jpg" alt="Welcome!"><br>
<form>
  <button type="submit" formaction="/logout" formmethod="get">Sign out</button>
</form>
<%- include("templates/footer") %>